<template>
    <div class="panel-body">
        <fieldset v-for="(mod, index) in models" :key="index">
            <div class="border">
                <div class="container">
                    <button class="float-right" @click="close(index)">X</button>
                    <vue-form-generator :schema="schema" :model="mod" :options="formOptions"></vue-form-generator>
                </div>
            </div>
        </fieldset>
        <button class="float-left" @click="onClick" v-if="models.length < limit">Add friend</button>
        <button class="float-right" @click="submit">Submit</button>
    </div>
</template>

<script>
    import Vue from 'vue'
    import VueFormGenerator from 'vue-form-generator'
    import 'vue-form-generator/dist/vfg.css'
    import '../jquery.maskedinput'

    Vue.use(VueFormGenerator);

    export default {
        data () {
            return {
                limit: 5,
                models: [],
                model: {
                    name: '',
                    phone: ''
                },
                schema: {
                    fields: [
                        {
                            type: 'input',
                            inputType: 'text',
                            label: 'Name',
                            model: 'name',
                            placeholder: 'Your name',
                            min: 6,
                            featured: true,
                            required: true,
                            validator: VueFormGenerator.validators.string
                        },
                        {
                            type: 'masked',
                            label: 'Phone',
                            model: 'phone',
                            mask: "+ 99 (999) 999-99-99",
                            placeholder: 'Your mobile phone',
                            featured: true,
                            required: true
                        }
                    ]
                },
                formOptions: {
                    validateAfterLoad: false,
                    validateAfterChanged: true,
                    validateAsync: true
                }
            }
        },
        methods: {
            onClick() {
                this.models.push({
                    name: this.model.name,
                    phone: this.model.phone
                });
            },
            close(index) {
                this.models.splice(index, 1);
            },
            submit() {
                axios.post('v1/users/store', {
                    clients: this.models
                }).then((response) => {
                    if (response.status === 200) {
                        location.reload();
                    }
                });
            }
        },
        mounted() {
            this.models.push({
                name: this.model.name,
                phone: this.model.phone
            });
        }
    }
</script>
